@font-face {
  font-family: "iconfont"; /* Project id 3901288 */
  src: url('iconfont.woff2?t=1676622027086') format('woff2'),
       url('iconfont.woff?t=1676622027086') format('woff'),
       url('iconfont.ttf?t=1676622027086') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-redo:before {
  content: "\e7c2";
}

.icon-zuhe1:before {
  content: "\e648";
}

.icon-zoomout:before {
  content: "\e897";
}

.icon-zoomin:before {
  content: "\e898";
}

.icon-undo:before {
  content: "\e7c1";
}

.icon-suofangdaodengbi:before {
  content: "\e64e";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-daochutupian:before {
  content: "\e647";
}

.icon-wanggekai:before {
  content: "\e783";
}

.icon-fenceng:before {
  content: "\e6b2";
}

.icon-ico_huanxingbuju:before {
  content: "\e63d";
}

.icon-ico_shuxingbuju:before {
  content: "\e63e";
}

.icon-suijishushengcheng-xuanzhong:before {
  content: "\e764";
}

